/*Variáveis Globais*/
:root {
  --bg-nav: #144673;
  --bg-form: #ebebeb;
}

/*Classes da página de nova publicação*/
.form {
  margin-top: 1rem;
  background-color: var(--bg-form);
}

/*Ids da página de nova publicação*/

/*Classes da página de feed*/
/*Ids da página de feed*/

/*Classes da página de perfil do usuário*/
/*Ids da página de perfil do usuário*/
