/*Variáveis Globais*/
:root {
  --bg-nav: #144673;
  --bg-container: #ebebeb;
  --bg-dropdown: #4a7ba7;
  /* --bg-btn-salvar: #688503;
  --bg-btn-cancelar: #a52b34; */
  /* --bg-btn-salvar: #6b6805;
  --bg-btn-cancelar: #c32732; */
  --bg-btn-salvar: #013d3d;
  --bg-btn-cancelar: #4a2014;
  --font-padrao: "Roboto", sans-serif;
  --bg-padrao: #dfedf2;
}
body {
  background-color: var(--bg-padrao);
}
/*Componentes da tela de nova publicação*/
nav {
  background-color: var(--bg-nav);
  color: white;
  text-align: center;
}

a {
  color: white;
  font-family: var(--font-padrao);
}
a:hover {
  font-family: var(--font-padrao);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

img,
.navbar-toggler {
  margin: 0 2rem 0 2rem;
}
.dropdown-menu {
  background-color: var(--bg-dropdown);
  font-family: var(--font-padrao);
}
.dropdown-menu > a:hover {
  background-color: transparent;
}
