/*Variáveis Globais*/
:root {
  --bg-nav: #144673;
  --bg-container: #ebebeb;
  --bg-dropdown: #4a7ba7;
  /* --bg-btn-salvar: #688503;
  --bg-btn-cancelar: #a52b34; */
  /* --bg-btn-salvar: #6b6805;
  --bg-btn-cancelar: #c32732; */
  --bg-btn-salvar: #013d3d;
  --bg-btn-cancelar: #4a2014;
  /* font-family: "Times New Roman", Times, serif; */
}

/*Componentes da tela de nova publicação*/
nav {
  background-color: var(--bg-nav);
  color: white;
  text-align: center;
}

a {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
a:hover {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

img,
.navbar-toggler {
  margin: 0 2rem 0 2rem;
}
.dropdown-menu {
  background-color: var(--bg-dropdown);
}
.dropdown-menu > a:hover {
  background-color: transparent;
}
