.cad {
  text-align: center;
}
.cad > a {
  color: black;
}
.cad > a:hover {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}
form {
  padding: 1rem;
  background-color: var(--bg-container);
  border-radius: 1rem;
}
.modal-body {
  background-color: var(--bg-container);
}
.modal-body > form {
  background-color: transparent;
}
#btn-cadastrar,
#btn-recuperar {
  color: white;
  background-color: var(--bg-nav);
}
.modal {
  border-radius: 15px;
}
